.vs/
*
!*.sln
!*.csproj
!*.user
!*.suo
!*.cache
!*.log
!*.pdb
!*.dbmdl
!*.dbproj
!*.jfm
!*.jfmproj
!*.jfmuser
!*.jfm.sln
!*.jfm.csproj
!*.jfm.user
!*.jfm.suo
!*.jfm.cache
!*.jfm.log
!*.jfm.pdb
!*.jfm.dbmdl
!*.jfm.dbproj

#logs
*.log
*.tlog
*.lastbuildstate
