body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sulphur Point', sans-serif;
/*    background-color: #333634;*/
}

.panel {
    background-image: url('..\images\stabmenubghv.png');
    text-align: center;
}

.main-heading {
    padding-top: 140px;
    font-size: 100px;
}

.gradint-layer
{
    background-image: url('..\images\photo-1460661419201-fd4cecdf8a8b.jpg');
}

.button {
    border: 1px solid #333;
    width: 300px;
    margin-left: 500px;
    margin-top: 70px;
    padding: 20px;
}

.main-button {
    text-decoration: none;
    font-size: 20px;
}


/* pannel */
.sec
{
    display: flex;
    align-items: center;
    justify-content: center;
 
}

.main {
    border: none;
    margin-top: 120px;
    height: 400px;
    width: 800px;
    box-shadow: 0px 0px 20px #333;
}

.panel-student {
    margin-left: -50px;
    margin-top: 30px;
    width: 450px;
    height: 350px;
}

.head-student {
    font-size: 50px;
    padding-top: 80px;
    margin-left: 30px; 
}
.head-manager
{
    font-size: 50px;
    padding-top: 80px;
    margin-left: 30px; 
}
.head-admin
{
    font-size: 50px;
    padding-top: 80px;
    margin-left: 30px; 
}
.head-staff
{
    font-size: 50px;
    padding-top: 80px;
    margin-left: 30px; 
}
.into-student {
    margin-top: 100px;
    margin-left: 100px;
}
.into-manager {
    margin-top: 100px;
    margin-left: 100px;
}
.into-staff {
    margin-top: 100px;
    margin-left: 100px;
}
.into-admin {
    margin-top: 100px;
    margin-left: 100px;
}

.btn-student {
    border: none;
    padding: 20px 100px;
    margin-left: -100px;
    background-color: #333;
    color: whitesmoke;
    font-size: 30px;
}
.btn-admin {
    border: none;
    padding: 20px 100px;
    margin-left: -100px;
    background-color: #333;
    color: whitesmoke;
    font-size: 30px;
}
.btn-manager {
    border: none;
    padding: 20px 100px;
    margin-left: -100px;
    background-color: #333;
    color: whitesmoke;
    font-size: 30px;
}
.btn-staff {
    border: none;
    padding: 20px 100px;
    margin-left: -100px;
    background-color: #333;
    color: whitesmoke;
    font-size: 30px;
}

#form
{
    width: 300px;
    padding: 10px;
    margin-top: -40px;
    transition: 1s;
    display: none;
}

#form2
{
    width: 300px;
    padding: 10px;
    margin-top: -40px;
    transition: 1s;
    display: none;
}

#form3
{
    width: 300px;
    padding: 10px;
    margin-top: -40px;
    transition: 1s;
    display: none;
}

#form4
{
    width: 300px;
    padding: 10px;
    margin-top: -40px;
    transition: 1s;
    display: none;
}

#login-btn
{
    background-color: #f5b907;
}

#login-name
{
    margin-bottom: 30px;
    padding: 10px;
}
#login-pass
{
    margin-bottom: 30px;
    padding: 10px;
}
#login-btn
{
    margin-bottom: 30px;
    padding: 10px;
}

#login-btn2
{
    background-color: #f5b907;
}

#login-name2
{
    margin-bottom: 30px;
    padding: 10px;
}
#login-pass2
{
    margin-bottom: 30px;
    padding: 10px;
}
#login-btn2
{
    margin-bottom: 30px;
    padding: 10px;
}

#login-btn3
{
    background-color: #f5b907;
}

#login-name3
{
    margin-bottom: 30px;
    padding: 10px;
}
#login-pass3
{
    margin-bottom: 30px;
    padding: 10px;
}
#login-btn3
{
    margin-bottom: 30px;
    padding: 10px;
}

#login-btn4
{
    background-color: #f5b907;
}

#login-name4
{
    margin-bottom: 30px;
    padding: 10px;
}
#login-pass4
{
    margin-bottom: 30px;
    padding: 10px;
}
#login-btn4
{
    margin-bottom: 30px;
    padding: 10px;
}
#cros
{
    font-size: 20px;
    float: left;
    padding-top: 20px;
    margin-top: -80px;
    display: none;
    cursor: pointer;
}
#cros2
{
    font-size: 20px;
    float: left;
    padding-top: 20px;
    margin-top: -80px;
    display: none;
    cursor: pointer;
}

#cros3
{
    font-size: 20px;
    float: left;
    padding-top: 20px;
    margin-top: -80px;
    display: none;
    cursor: pointer;
}

#cros4
{
    font-size: 20px;
    float: left;
    padding-top: 20px;
    margin-top: -80px;
    display: none;
    cursor: pointer;
}


#man
{
    padding: 20px;
}

#man2
{
    padding: 20px;
}

#man3
{
    padding: 20px;
}

#man4
{
    padding: 20px;
}

#img1{
    height: 400px;
    width: 500px;
    margin-top: -10px;
}

#img2{
    height: 300px;
    width: 300px;
    margin-left: 53px;
    margin-top: 30px;
}

#cros_sec{
    font-size: 30px;
    margin-top: -400px;
}


@media(max-width:768px) {
    .img{
        display: none;
    }
    .head{
        margin-left: 100px;
        margin-top: -10px;
        align-items: center;
    }
    #form2{
        margin-left: 90px;
    }
    #form3{
        margin-left: 90px;
    }
    #form4{
        margin-left: 90px;
    }
    #head-log2{
        margin-left: 50px;
    }
    #head-log3{
        margin-left: 40px;
    }
    #head-log4{
        margin-left: 70px;
    }
}

.Insert_main{
    display: none;

}
#staff_insert{
    display: none;
}
.form_inser{
    padding: 10px 20px;
}

.Ins_staff{
    font-size: 30px;
    text-align: center;
}
.Insert_Student{
    display: none;

}
#Student_insert{
    display: none;
}
.form_stu_inser{
    padding: 10px 20px;
}

.Ins_stud{
    font-size: 30px;
    text-align: center;
}


/*=============================================================
    Authour URI: www.binarycart.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */


/*==============================================
    GENERAL  STYLES    
    =============================================*/

    body {
        font-family: 'Open Sans', sans-serif;
    }
    
    #wrapper {
        width: 100%;
        background: #333;
    }
    
    #page-wrapper {
        padding: 15px 15px;
        min-height: 300px;
        background: #333;
    }
    
    #page-inner {
        width: 100%;
        margin: 10px 20px 10px 0px;
        background-color: #fff!important;
        padding: 10px;
        max-height: 700px;
    }
    
    .text-center {
        text-align: center;
    }
    
    .no-boder {
        border: 1px solid #f3f3f3;
    }
    
    h2 {
        color: #f00;
    }
    
    h4 {
        padding-top: 10px;
    }
    
    .square-btn-adjust {
        border: 0px solid transparent;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
    }
    
    p {
        font-size: 16px;
        line-height: 25px;
        padding-top: 20px;
    }
    
    
    /*==============================================
           DASHBOARD STYLES    
            =============================================*/
    
    .panel-back {
        background-color: #F8F8F8;
    }
    
    .noti-box {
        min-height: 100px;
        padding: 20px;
    }
    
    .noti-box .icon-box {
        display: block;
        float: left;
        margin: 0 15px 10px 0;
        width: 70px;
        height: 70px;
        line-height: 75px;
        vertical-align: middle;
        text-align: center;
        font-size: 40px;
    }
    
    .text-box p {
        margin: 0 0 3px;
    }
    
    .main-text {
        font-size: 25px;
        font-weight: 600;
    }
    
    .set-icon {
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
    }
    
    .bg-color-green {
        background-color: #00CE6F;
        color: #fff;
    }
    
    .bg-color-blue {
        background-color: #A95DF0;
        color: #fff;
    }
    
    .bg-color-red {
        background-color: #DB0630;
        color: #fff;
    }
    
    .bg-color-brown {
        background-color: #B94A00;
        color: #fff;
    }
    
    .icon-box-right {
        display: block;
        float: right;
        margin: 0 15px 10px 0;
        width: 70px;
        height: 70px;
        line-height: 75px;
        vertical-align: middle;
        text-align: center;
        font-size: 40px;
    }
    
    .main-temp-back {
        background: #8702A8;
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 300;
        text-align: center;
    }
    
    .main-temp-back .text-temp {
        font-size: 40px;
    }
    
    .back-dash {
        padding: 20px;
        font-size: 20px;
        font-weight: 500;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        background-color: #2EA7EB;
        color: #fff;
    }
    
    .back-dash p {
        padding-top: 16px;
        font-size: 13px;
        color: #fff;
        line-height: 25px;
        text-align: justify;
    }
    
    .back-footer-green {
        background-color: #009B50;
        border-top: 0px solid #fff;
    }
    
    .back-footer-red {
        background-color: #AF0000;
        border-top: 0px solid #fff;
    }
    
    .color-bottom-txt {
        color: #000;
        font-size: 16px;
        line-height: 30px;
    }
    
    CHAT PANEL .chat-panel .panel-body {
        height: 450px;
        overflow-y: scroll;
    }
    
    .chat-box {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
    .chat-box li {
        margin-bottom: 15px;
        padding-bottom: 5px;
        border-bottom: 1px dotted #808080;
    }
    
    .chat-box li.left .chat-body {
        margin-left: 90px;
    }
    
    .chat-box li .chat-body p {
        margin: 0;
        color: #8d8888;
    }
    
    .chat-img>img {
        margin-left: 20px;
    }
    
    
    /*==============================================
            MENU STYLES    
            =============================================*/
    
    .user-image {
        margin: 25px auto;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        max-height: 170px;
        max-width: 170px;
    }
    
    .navbar-cls-top .navbar-brand {
        color: #fff;
        background: #f5b907;
        width: 260px;
        text-align: center;
        height: 60px;
        font-size: 30px;
        font-weight: 700;
    }
    
    .active-menu {
        background-color: #f5b907!important;
    }
    
    .arrow {
        float: right;
    }
    
    .fa.arrow:before {
        content: "\f104";
    }
    
    .active>a>.fa.arrow:before {
        content: "\f107";
    }
    
    .nav-second-level li,
    .nav-third-level li {
        border-bottom: none !important;
    }
    
    .nav-second-level li a {
        padding-left: 37px;
    }
    
    .nav-third-level li a {
        padding-left: 55px;
    }
    
    .sidebar-collapse,
    .sidebar-collapse .nav {
        background: none;
    }
    
    .sidebar-collapse .nav {
        padding: 0;
    }
    
    .sidebar-collapse .nav>li>a {
        color: #fff;
        background: #333;
        text-shadow: none;
    }
    
    .sidebar-collapse>.nav>li>a {
        padding: 15px 10px;
    }
    
    .sidebar-collapse>.nav>li {
        border-bottom: 1px solid rgba(107, 108, 109, 0.19);
    }
    
    .sidebar-collapse .nav>li>a:hover,
    .sidebar-collapse .nav>li>a:focus {
        background: #0A0A0A;
        outline: 0;
    }
    
    .nav-second-level>li>a:before,
    .nav-third-level>li>a:before {
        content: "";
        display: block;
        position: absolute;
        left: 20px;
        width: 15px;
        height: 1px;
        background: #f5b907;
        top: 20px;
    }
    
    .nav-second-level>li>a:after,
    .nav-third-level>li>a:after {
        content: "";
        display: block;
        position: absolute;
        left: 20px;
        width: 1px;
        height: 100%;
        background: #ff0000;
        top: 0px;
        z-index: 10;
    }
    
    .nav-second-level>li:last-child>a:after,
    .nav-third-level>li:last-child>a:after {
        height: 50%;
    }
    
    .nav-third-level>li>a:after,
    .nav-third-level>li>a:before {
        left: 40px;
    }
    
    .navbar-side {
        border: none;
        background-color: #333;
    }
    
    .navbar-cls-top {
        background: #4D4D4D;
        border-bottom: none;
    }
    
    .navbar-cls-top .navbar-brand:hover {
        background: #f5b907;
        color: #fff;
    }
    
    .navbar-default {
        border: 0px solid black;
    }
    
    .navbar-header {
        background: #A70303;
    }
    
    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus {
        background-color: #B40101;
    }
    
    .navbar-default .navbar-toggle {
        border-color: #fff;
    }
    
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #FFF;
    }
    
    .nav>li>a>i {
        margin-right: 10px;
    }
    
    
    /*==============================================
            UI ELEMENTS STYLES     
            =============================================
        
        .btn-circle {
            width: 50px;
            height: 50px;
            padding: 6px 0;
            -webkit-border-radius: 25px;
            -moz-border-radius: 25px;
            border-radius: 25px;
            text-align: center;
            font-size: 12px;
            line-height: 1.428571429;
        }
        */
    
    /*==============================================
            MEDIA QUERIES     
            =============================================*/
    
    @media(min-width:768px) {
        #page-wrapper {
            margin: 0 0 0 260px;
            padding: 15px 30px;
            min-height: 1200px;
        }
        .navbar-side {
            z-index: 1;
            position: absolute;
            width: 260px;
        }
        .navbar {
            border-radius: 0px;
        }
    }


    /*home*/

    .head-home{
        clip-path: polygon(50% 0%, 100% 50%, 100% 51%, 50% 100%, 0 100%, 0 0);
    }


    /* .minn
    {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(COOL\ WALLPAPERS\ red\ rose\ heart\ wallpaper.jpg);
        background-attachment: fixed;
        clip-path: circle(0px at center);
    
    }
    
    .main
    {
        position: relative;
        margin-top: 200vh;
        background: #fff;
        padding: 100vh;
    }
    
    .mm
    {
        position: relative;
        top: 250px;
        z-index: 1;
        font-size: 3em;
        text-align: center;
        color: #333;
        width: 100%;
    } */
