<form style="width:300px;height:260px;">
    <h1>Login</h1>
    <input class="form-control" type="text" placeholder="Enter Useraname" name="user" />
    <br />
    <br />
    <input class="form-control" type="password" placeholder="Enter Password" name="pass" />
    <br />
    <br />
    <input class="form-control btn btn-danger" type="submit" value="Login" name="Login"/>
</form>
