@{
    ViewBag.Title = "About";
}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <ul class="nav navbar-nav">
        <li>
            @Html.ActionLink("Home", "index", "Home")
        </li>
        <li>
            @Html.ActionLink("About", "About", "Home")
        </li>
        <li>
            @Html.ActionLink("Contact", "Contact", "Home")
        </li>
    </ul>
</nav>